body {
  background-color: lightyellow;
}

/* ELEMENT selector targeting  EVERY <p> on the page */
p {
  color: #1A1A2E;
  font-size: 16px;
}

/* CLASS selector targets any element with class="highlight" */

.highlight {
  background-color: #FBEFD3;
  padding: 8px;
}

/* ID selector — targets the ONE element with id="intro" */

#intro {
  font-size: 22px;
  font-weight: bold;
}

.important {
  color: red;
  font-weight: bold;
}

#page-header {
  background-color: #1E2761;
  color: white;
  padding: 12px;

}


/* 1. Named color */
.color-named {
  color: steelblue;
}

/* 2. Hexadecimal */
.color-hex {
  color: #1E2761; 
}
.color-hex2 {
  color: #0D9488;
}

/* 3. RGB */
.color-rgb {
  color: rgb(30, 39, 97);
}

/* 4. HSL */
.color-hsl {
  color: hsl(232, 53%, 25%);
}

/* rgba */
.color-trans {
  background-color: rgba(13, 148, 136, 0.3);
}